---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #5a5a5a;
$background-color: #fdfdfd;
$brand-color:      #d9534f;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.mdc-button
	{
	border-radius: 6px;
	line-height: 1.33;
	background-color: #d9534f;
	border-color: #d9534f;
	color: #fff;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	}


.mdc-container
	{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	}


.mdc-hero
	{
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 30px;
	border-radius: 6px;
	text-align: center;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.66);
	color: white;
	margin-top: 50px;
	margin-bottom: 30px;
	box-sizing: border-box;
	h1
		{
		font-size: 63px;
		}
	p
		{
		font-size: 21px;
		font-weight: 200;
		}
	.mdc-button, .mdc-button:visited
		{
		padding: 14px 24px;
		color: white;
		}
	}


#Banner
	{
	background-image: url("../images/background.png");
	overflow: hidden;
	}


#map
     {
     height: 400px;
     }
